* {
	margin: 0;
	padding: 0;
	background: #222;
	color: #ddd;
	font-family: monospace;
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* cmdline */
textarea, input {
	outline: none;
	box-shadow: none;
	border: none;
}
.cmdline {
	position: fixed;
	bottom: 0;
	height: 0;
	width: 0;
	background: #444;
}
.cmdline:focus {
	height: 1em;
	width: 100%;
	padding: .5em .2em;
}

/* streams */
.container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}
.vert .container {
	flex-flow: column wrap;
}
.horz .container {
	flex-flow: row wrap;
}
.max.vert .stream.master {
	width: 100vw;
}
.max.horz .stream.master {
	height: 100vh;
}
.vert .stream.master {
	width: 75vw;
}
.vert .stream {
	width: 25vw;
}
.horz .stream.master {
	height: 75vh;
}
.horz .stream {
	height: 25vh;
}
.stream.master {
	flex: 0 1 100%;
}
.stream {
	flex: 1 0 10%;
	border: 2px solid #444;
	width: auto;
	height: 1;
	max-width: 100%;
	max-height: 100%;
}
.stream#cur {
	border-color: #f90;
}

.stream > div {
	width: 100%;
	height: 100%;
}
.stream iframe {
	width: 100%;
	height: 100%;
	margin: auto;
}

.stream.help {
	padding: 3em;
}
code {
	border: 1px solid #444;
	color: #bbb;
}
pre {
	border: 1px solid #444;
	padding: 0.5em;
}
pre code { border: 0; }
p {
	margin: 0.2em 1em;
}
h1 {
	font-weight: normal;
	font-size: 1em;
	margin-top: 1em;
}
.help img {
	margin-top: -30px;
	width: 100px;
	height: 100px;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
